body {
  background-color: rgb(49, 49, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 320px;
  height: auto;
  background-color: rgb(78, 78, 101);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.head {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  position: relative;
  width: 250px;
  margin-bottom: 15px;
}

.pd {
  height: 35px;
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
  border: none;
  padding-left: 10px;
  font-size: 15px;
  background-color: rgb(42, 56, 77);
  color: white;
}

.copy-btn {
  position: absolute;
  right: 8px;
  top: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(235, 128, 14);
}

.koti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  color: white;
}
.koti input[type="checkbox"] {
  order: 2;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 15px;
}

#length {
  width: 60px;
}

.generate-btn {
  background-color: rgb(19, 35, 155);
  width: 250px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 12px;
}
